@use "@/CSS/_variables" as *;

.footer {
  background-color: #d3e0e8;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $bp-mobile) {
    gap: 10px;
  }
}

.logo-svg {
  max-width: 230px;
  margin-top: 20px;
}

.footer-text {
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-link {
  font-weight: 100;
  text-decoration: none;
  font-size: 14px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.footer-icon:hover {
  opacity: 1;
}
