@use "@/CSS/_variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;
  gap: 10px;

  padding: 5px 30px;
  @media screen and (max-width: $bp-tablet) {
    padding: 5px 10px;
  }
}

.header-logo-svg {
  @media screen and (max-width: $bp-tablet) {
    width: 150px;
  }
}

.links {
  display: flex;
  gap: 20px;

  .link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .cart-icon {
    position: relative;
    margin-top: 6px;

    .cart-qty-indicator {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: -6px;
      right: -5px;
      width: 15px;
      height: 15px;

      background-color: var(--primaryContainer);
      border-radius: 10px;
      color: black;
      font-size: 9px;
    }
  }
}
