.quantity-input {
  display: flex;
  align-items: center;
  gap: 10px;

  .item-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;

    min-width: 105px;
    padding: 0px 0px;

    border: 1px solid var(--outline);
    border-radius: 5px;

    button {
      padding: 10px;
      width: 20px;
      height: 20px;
    }
  }

  .btn-delete {
    width: 20px;
    height: 20px;
    opacity: 0.6;
  }
}
