@use "@/CSS/_variables" as *;
@use "@/CSS/_utils" as *;

.shop-product {
  display: flex;
  flex-direction: column;
  width: var(--grid-horiz-space);

  img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
  }

  &:hover {
    cursor: pointer;

    .prod-title {
      text-decoration: underline;
    }
  }
}

.prod-variants {
  display: flex;
}

.product-skeleton {
  display: flex;
  flex-direction: column;
  width: var(--grid-horiz-space);

  .skeleton-image {
    @include placeholder-pulse;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
  }

  .skeleton-title {
    @include placeholder-pulse;
    margin: 6px 0;
    height: 20px;
    width: 80%;
    border-radius: 5px;
  }

  .skeleton-price {
    @include placeholder-pulse;
    margin: 2px 0;
    height: 20px;
    width: 40%;
    border-radius: 5px;
  }
}
